body{
    background-color: #f6dff6;
}
  
   @font-face{
       font-family: "CormorantInfant-Bold";
       src: url(../fonts/CormorantInfant-Bold.ttf);
    
   }
    p{
      font-family: "CormorantInfant-Bold";
     
  }